<html>
<head>
    <title>BSTI - Bangladesh Institute of Standards & Testing</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div>
        <img src="/static/img/header_img.jpg" alt="bsti" title='BSTI'>
    </div>
    <div class='container'>
        <div class='signup-form'>
            <form id='signup-form' action="/?reg=registration" method="POST">
                <label for="Full Name">Full Name:</label>
                <input type="text" name='name'/>
                <label for="email">Email:</label>
                <input type="email" name='email'/>
                <label for="Password">Password:</label>
                <input type="password" name='password'/>
                <h4>{{ reg_msg }}</h4>
                <button type="submit" id='signup-button'>Sign Up</button>

            </form>
        </div>
        <div class='login-form'>
            <form id='login-form' method='POST' action='/?login=login'>
                <div>
                    <label>Email: </label>
                    <input name='email' type="email"/>

                        <div class="clear"></div>


                </div>

                <div>
                    <label>Password:</label>
                    <input name='password' type="password"/>

                        <div class="clear"></div>
                        {% if error_msg %}
                            <div class="form-error">{{ error_msg }}</div>
                        {% endif %}

                </div>

                <button type="submit" id="login-button">LOGIN</button>
            </form>
        </div>
    </div>

</body>
</html>