body{
    margin: 0;
    padding: 0;
    background: #424242;
}

.clear{
    clear: both;
}

.container{
    margin: 0 auto;
    width: 70%;
    margin-top: 10px;
}
.container img{
    float:left;
    width: 956px;
    height: 101px;
}

.login-form, .signup-form{
    float:left;
    margin-top: 10px;
    background-color: white;
    border: 1px solid gray;
}
#login{
    margin: 0 auto;
    width: 60%;
    margin-top: 30px;
}

.label {
    width: 100px;
}
input{
    width:300px;
    height: 25px;
}
#login-button, #signup-button{
    width: 200px;
    height: 40px;
    background-color: blue;
    border: none;
    color:white;
}